.componentComputer{
    margin-top: 10em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textComputer{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.text h2{
    margin-bottom: 1rem;
    color: #444;
}


@media(max-width: 768px){
    .textComputer{
        gap: 1rem;
        flex-wrap: wrap;
    }
}
